@import "tailwindcss";

@theme {
  --color-light-background: #ebffff;
  --color-dark-background: #161925;
  --color-primary: #61c0bf;
  --color-dark-secondary: #fae3d9;
  --color-light-secondary: #020122;
  --font-work-sans: var(--font-work-sans);
}
